html {
    box-sizing: border-box;
  }
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px 15px;
    width: 80%;
    margin: 5px auto;
    border-radius: 40px;
  }
  .search-form-report {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px 15px;
    width: 25%;
    margin: 5px auto;
    border-radius: 40px;
  }

  .search-forms{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
  }

  .fullReport{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .infoArea{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: larger;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  * {
    max-height: 1000000px;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #333;
    background: #fff;
    font: 16px/1.6 "Muli", sans-serif;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
  }

  main {
    min-height: calc(100vh - 85px - 22px);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .container {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    margin: 0 0 20px;
    color: inherit;
  }
  
  h1 {
    font-size: 46px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 22px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  h5 {
    font-size: 17px;
  }
  
  h6 {
    font-size: 15px;
  }
  
  p {
    margin: 0 0 15px;
  }
  
  a {
    color: #1715ab;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
    color: #f41a1a;
  }
  
  ul,
  .image {
    margin: 0;
    padding: 0;
    list-style: none;
  }
 
  #wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .container-fluid {
    margin: 0 auto;
    max-width: 2000px;
  }
  
  .content-block ul {
    margin: 0 0 15px;
  }
  
  .content-block ul li {
    position: relative;
    padding: 0 0 0 20px;
  }
  
  .content-block ul li:before {
    content: '\f101';
    font-family: 'fontawesome';
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
  }
  
  .content-block ul li a {
    color: #333;
  }
  
  .content-block ul li a:hover {
    color: #1715ab;
  }
  
  .btn.btn-primary {
    background: #1715ab;
    border-color: #1715ab;
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
    transition: background 0.3s linear, color 0.3s linear;
    -webkit-transition: background 0.3s linear, color 0.3s linear;
  }
  
  .btn.btn-primary:focus,
  .btn.btn-primary:hover {
    background: #fff;
    border-color: #1715ab;
    color: #1715ab;
  }
  
  .btn.btn-primary .fas {
    margin: 0 0 0 6px;
    font-size: 15px;
  }

  .button-div{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  
  input[type=text],
  input[type=email],
  input[type=search],
  textarea {
    background: #fff;
    border: 1px solid #cccccc;
    margin: 0;
    padding: 5px 15px;
    width: 100%;
    height: 47px;
    color: black;
    font-size: 16px;
    line-height: 20px;
  }
  
  input[type=text]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=search]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: black;
  }
  
  input[type=text]::-moz-placeholder,
  input[type=email]::-moz-placeholder,
  input[type=search]::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: black;
  }
  
  input[type=text]:-moz-placeholder,
  input[type=email]:-moz-placeholder,
  input[type=search]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: black;
  }
  
  input[type=text]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder,
  input[type=search]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: black;
  }
  
  input[type=text].placeholder,
  input[type=email].placeholder,
  input[type=search].placeholder,
  textarea.placeholder {
    color: black;
  }
  
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=search]:focus,
  textarea:focus {
    outline: none;
  }
  .container-login{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80%;
    padding: 25px;
    box-shadow: 6px 5px 13px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }
  
  textarea {
    height: 150px !important;
    min-height: 150px !important;
    resize: vertical;
    padding: 10px 15px !important;
  }
  
  .title-holder {
    text-align: center;
    margin: 0 0 40px;
    color: #1715ab;
  }
  
  .title-holder h1 {
    margin: 0 0 30px;
    font-weight: bold;
  }
  
  .title-holder .subtitle {
    color: #1715ab;
    font-size: large;
  }

  #header {
    padding: 15px 0;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.5s linear;
    z-index: 1
  }
  
  #header .navbar {
    padding: 0;
    justify-content: space-between;
    background: none !important;
  }

  #header .navbar-brand {
    color: #1715ab;
    text-transform: uppercase;
    font-weight: 600;
    height: auto;
    padding: 0;
    font-size: 40px;
    line-height: 1;
  }
  
  #header .offcanvas-body {
    flex-grow: 0;
  }
  
  #header .offcanvas-body a {
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #4d4d4d;
    position: relative;
  }
  
  #header .offcanvas-body a:last-child {
    padding-right: 0;
  }
  
  
  #header .offcanvas-body a:hover,
  #header .offcanvas-body a.active {
    background: none;
    color: #1715ab;
  }
  
  #header .offcanvas-body a:hover:before,
  #header .offcanvas-body a.active:before {
    right: 7px;
    left: 8px;
    opacity: 1;
  }
  
  #header .offcanvas-body a:before {
    content: '';
    background: #1715ab;
    height: 1px;
    position: absolute;
    bottom: 9px;
    left: -20px;
    right: 100%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    opacity: 0;
  }
  .justify-content-start {
    flex-grow: 0;
  }
  
  .justify-content-start a {
    font-size: 18px;
    line-height: 22px;
    color: #4d4d4d;
    position: relative;
    text-decoration: none;
    padding: 1rem 1rem;
  }
  
  .justify-content-start a:last-child {
    padding-right: 0;
  }
  
  .justify-content-start a:hover,
  .justify-content-start a.active {
    background: none;
    color: #1715ab;
  }
  
  .justify-content-start a:hover:before,
  .justify-content-start a.active:before {
    right: 7px;
    left: 8px;
    opacity: 1;
  }
  
  .justify-content-start a:before {
    content: '';
    background: #1715ab;
    height: 1px;
    position: absolute;
    bottom: 7px;
    left: -20px;
    right: 100%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    opacity: 0;
  }